@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content { 
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header, .footer{
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer {
  background-color: #eeeeee;
}

.left-links {
  margin-right: auto;
}

.right-links{
  margin-left: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgb(102, 102, 102);
}
